* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.game-board {
  width: 400%;
  height: 100%;

  position: relative;
  overflow: hidden;

  display: flex;
  justify-content: center;
  flex-direction: column;
}

.ceu {
  display: flex;
  align-items: center;
  height: 50vh;
  background-color: purple;
}

.quadro-1 {
  position: absolute;
  width: 200px;
  height: 200px;
  background-color: white;
  border: 5px solid #000;
  bottom: 0;
  margin-left: 20%;
}

.quadro-2 {
  position: absolute;
  width: 200px;
  height: 200px;
  background-color: white;
  border: 5px solid #000;
  bottom: 0;
  margin-left: 30%;
}
.quadro-3 {
  position: absolute;
  width: 200px;
  height: 200px;
  background-color: white;
  border: 5px solid #000;
  bottom: 0;
  margin-left: 50%;
}
.quadro-4 {
  position: absolute;
  width: 200px;
  height: 200px;
  background-color: white;
  border: 5px solid #000;
  bottom: 0;
  margin-left: 70%;
}

.quadro-5 {
  position: absolute;
  width: 200px;
  height: 200px;
  background-color: white;
  border: 5px solid #000;
  bottom: 0;
  margin-left: 80%;
}

.chao {
  display: flex;
  height: 40vh;
  background-color: white;
}

.palito {
  min-width: 250px;
  min-height: 250px;
  position: absolute;
  bottom: 0;
  left: 10px;
  margin-right: 0;
}

.btn-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

#btn {
  display: none;
  color: black;
  background-color: transparent;
  padding: 5px;
  border-radius: 50px;
  text-transform: uppercase;
  font-weight: 800;
  cursor: pointer;
  margin-top: 50px;
}

.palito {
  width: 100px;
  height: 100px;
  position: absolute;
  bottom: 0;
}

.jump {
  animation: jump 500ms ease-out;
}

.cloud {
  width: 550px;
  position: absolute;
  animation: cloud-animation 20s infinite linear;
}

@keyframes cloud-animation {
  from {
    right: -550px;
  }
  to {
    right: 100%;
  }
}
